<header class="bg-green-500 h-44 min-h-44 flex items-center justify-center">
  <div class="flex flex-col gap-y-3 text-white">
    <h1 class="text-5xl">
      <strong>OpenID RP</strong>
    </h1>
    <p class="text-lg text-center">
      Welcome user, this is the home screen
    </p>
  </div>
</header>

<div>
  <div id="debug-view" class="flex justify-center">
    <div class="container py-8 max-w-screen-lg flex flex-col gap-y-5">
      <img ngSrc="assets/img.png" alt="img" height="752" width="1404">
    </div>
  </div>
</div>
